<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<p><%=@article.author %></p>

<p><%=@article.category %></p>

<small><%=@article.published_at %> </small>

<%= link_to 'Home', articles_path %>

